body {
	background: url("/assets/background.png");
	color: #3f3;
	background-color: #111;
	a {
		color: #3f3;
	}
}

header {
	border-bottom: 1px solid;
}

footer {
	font-size: xx-small;
	opacity: 0.1;
}

.post-list {
	list-style: none;
	padding: 0;
}


