footer {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

header {
	text-align: center;
}

.wrapper {
	margin: 1em;
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
}

.post-wrapper {
	display: flex;
	align-items: baseline;
}

.post-meta {
	margin-left: 1em;
}
